@charset "UTF-8";
/* CSS Document content.css */

 .content {
    grid-area: main;
	border: 1px solid red;
    background: rgba(230, 235, 224, 0.5);
  }

.nestedGrid {
    display: grid;
    grid-area: main;
    grid-gap: 15px;
	border: 1px solid red; /* border used for Debug*/
    background: #ECEFF1;   
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

.blog-posts {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.blog-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "photo"
    "cont";
    margin: 20px;
    border-radius: 5px;
    max-width: 900px;
}

.blog-card-photo {
    grid-area: photo;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: auto;
    height: 50vh;
}

.blog-card-content {
    grid-area: cont;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 10px 10px;
}

.blog-card-text {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vh;
    height: 50vh;
}

.blog-card-button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(40, 116, 160);
    font-size: medium;
    font-weight: bold;
}

figure {
  border: 1px #cccccc solid;
  padding: 1%;
  margin: auto;
  background-color: rgb(211,211,211);    
}

figcaption {
  background-color: black;
  color: white;
  padding: 2px;
  text-align: center;
}

#blog-post-one{
    background-image: url("../images/trentiremi-bay-1300x1300.jpg");
    background-repeat: stretch;
    background-size: cover;
    background-position: center;
}

#blog-post-two {
    background-image: url("../images/trentiremi-bay-1300x1300.jpg");
    background-repeat: stretch;
    background-size: cover;
    background-position: center;
}

#blog-post-three {
    background-image: url("../images/trentiremi-bay-1300x1300.jpg");
    background-repeat: stretch;
    background-size: cover;
    background-position: center;
}

#blog-post-four {
    background-image: url("../images/trentiremi-bay-1300x1300.jpg");
    background-repeat: stretch;
    background-size: cover;
    background-position: center;
}