@charset "UTF-8";
/* CSS Document blogpost_footer.css*/

.footer {
    grid-area: ft;
    /*border: 2px solid red;  -- red border for debug purpose */
}

.grid-footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px auto 40px auto;
	/*border: 1px solid red;  -- red border for debug purpose */
    background-color:#CFCFCF;
 } 

.socialmedia-buttons {
    display: flex;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 14px;
}

 #footer-text {
    margin-left: 7px;
    text-decoration: underline;
    font-weight: bold; 
}