@charset "UTF-8";
/* CSS Document sidebar.css */

.sidebar {
    font-family:optima,courier,arial,helvetica;
    grid-area: sd;
	border: 1px solid red;
    font-style: italic;
}

h2 {
    color: #C59B08;
}

li {
    margin: 0 1rem;
    font-size: 2.0rem;
}

li:hover {
    font-weight: bolder;
}